/* You can add global styles to this file, and also import other style files */
@import "./fonts.scss";
@import "@stylevars";
@import "./mega.scss";

html,
body {
  font-family: "Work Sans", sans-serif;
}

.d-flex {
  display: flex;
}
.bg-white {
  background-color: $white;
  color: $black !important;
}

.text-white {
  color: $white !important;
}

.bg-black {
  background-color: $black !important;
  color: $white !important;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

body {
  background-color: $white-1;
  font-family: 'Work Sans';
}

.list-none {
  list-style: none;
  margin-left: -10px;
}


.align-content-center {
  align-content: center !important;
}

.overflow-auto {
  overflow: auto;
}
